# Node.js
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React
/build
/dist
/.cache

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# Docker
*.pid
docker-compose.override.yml

# Misc
.idea/
.vscode/
*.swp
